---
interface Props {
  hideHomeLink?: boolean;
  class?: string;
}
const { hideHomeLink = false, class: className }: Props = Astro.props;
---

<nav class={className}>
  <ul class="flex gap-3">
    {
      !hideHomeLink && (
        <li>
          <a href="/">Home</a>
        </li>
      )
    }
    <li>
      <a href="/resume">Resume</a>
    </li>
  </ul>
</nav>
